.leaflet-popup-content-wrapper {
  padding: 0 !important;
  border-radius: 12px !important;
  overflow: hidden;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1) !important;
}

.leaflet-popup-content {
  margin: 0 !important;
  min-width: 280px;
}

.leaflet-popup-close-button {
  width: 30px !important;
  height: 30px !important;
  font-size: 20px !important;
  padding: 4px !important;
  color: #4B5563 !important;
  margin: 5px !important;
}

.leaflet-popup-tip-container {
  margin-top: -1px;
}

.leaflet-popup-tip {
  box-shadow: none !important;
}

@media (max-width: 640px) {
  .leaflet-popup-content {
    min-width: 240px;
  }
}
